(cloudflare_dns) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

{$CADDY_CERT_DOMAIN:localhost} {
  {$CADDY_EXTRA_DIRECTIVES}

  @host host {$CADDY_HOST:*}
  handle @host {
    handle /api/* {
      uri /api/swagger/* strip_prefix /api
      reverse_proxy backend:8080
    }
    handle {
      reverse_proxy frontend:3000
    }
    handle /s3/* {
      uri strip_prefix /s3
      reverse_proxy minio:9000
    }
  }
}
