(tls) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

{$CADDY_CERT_DOMAIN:localhost} {
  {$CADDY_EXTRA_DIRECTIVES}

  @host host {$CADDY_HOST:*}
  handle @host {
    reverse_proxy /api/* backend:8080
    reverse_proxy frontend:3000
  }
}
