services:
  backend:
    environment:
      - ALLOWED_CORS_HOSTS=https://ebangelion.y7o4ka.xyz
  caddy:
    environment:
      # Uncomment, add the domain, host and CF token. Voila, you have HTTPS
      CADDY_EXTRA_DIRECTIVES: import cloudflare_dns
      CADDY_CERT_DOMAIN: "*.y7o4ka.xyz"
      CADDY_HOST: ebangelion.y7o4ka.xyz
      CLOUDFLARE_API_TOKEN: needed if using wildcard certificate

  llm-service:
    environment:
      - OPENROUTER_API_KEY=<API KEY HERE>
      - OPENROUTER_MODEL=mistralai/mistral-7b-instruct:free
